:root {
  --h2color: #0057a3;
  --paragraphtext: #000000;
  --pagecolor: #ffffff;
}

body {
  margin: 0;
  font-family: "Poppins";
  background: var(--pagecolor);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainpagecontainer {
  width: 80%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  font-weight: 400;
  font-size: 4rem;
  color: var(--paragraphtext);
}

h2 {
  color: var(--h2color);
  font-weight: 400;
  font-size: 2rem;
}

p {
  color: var(--paragraphtext);
}


/* THESE THREE CLASSES I USE FOR COLORING BOXES*/

.box-o {
  background-color: rgba(255, 167, 84, 0.5);
  padding: 20px;
}

.box-y {
  background-color: rgba(241, 255, 84, 0.5);
  padding: 20px;
}

.box-b {
  background-color: rgba(84, 175, 255, 0.2);
  padding: 20px;
}



/* THESE CLASSES I USE FOR THE TERMS AND CONDITIONS & PRIVACY POLICY  */

.mainpagecontainer-documents {
  width: 80%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.document-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.documents-header {
  margin: 150px 0px 20px 0px;
  font-family: 'Grandstander';
}



.documents-text-container {
  background-color: rgba(84, 175, 255, 0.2);
  line-height: 4;
  padding: 50px;
}


/* This is the css for the underline i have under some of the texts */

.header-underline-container {
  width: fit-content;
}

.underline {
  border: 1px solid black;
}

.weakerline {
  border-top: 1px solid black;
  margin-bottom: 10px;
  width: 90%;
}

.top-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* This is the css i use for styling the backround images on top of the pages */

.page-top-backround {
  width: 100%;
}

