footer {
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    padding-left: 19%;
    padding-right: 19%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 60px;
}

footer p {
    text-decoration: underline;
    cursor: pointer;
    color: #FFFFFF;
}


