footer {
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    padding-left: 19%;
    padding-right: 19%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

footer a {
    text-decoration: underline;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.2s;
}


footer a:hover {
    color: #FFFF00;
    transition: 0.2s;
    transform: scale(1.05);
}


