:root {
    --headerbackroundcolor: #0057A3;
    --headerbuttonshover: #FFFF00; 
}


.desktopheader {
    display: flex;
    background-color: var(--headerbackroundcolor);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headernav {
    display: flex;
    align-items: center;
    gap: 40px;
}

#sitelogo {
    cursor: pointer;
}

.headerbuttons {
    font-family: 'Poppins', 'Signika';
    font-size: 1.2rem;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 50px;
    text-transform:capitalize;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    transition: 0.5s;
}

.headerbuttons:hover {
    background-color: var(--headerbuttonshover);
    color: black;
}




.searchicon {
    all: unset;
}

.hiddenburger {
    display: none;
}