:root {
    --headerbackroundcolor: #0057A3;
    --headerbuttonshover: #FFFF00; 
}


.desktopheader {
    display: flex;
    background-color: var(--headerbackroundcolor);
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

.headernav {
    display: flex;
    align-items: center;
    gap: 4vw;
    }

#sitelogo {
    cursor: pointer;
    transition: 0.3s;
}

#sitelogo:hover {
    transform: scale(1.1);
}

.headerbuttons {
    font-family: 'Poppins', 'Signika';
    font-size: 1.2rem;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 50px;
    text-transform:capitalize;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    transition: 0.5s;
}

.headerbuttons:hover {
    background-color: var(--headerbuttonshover);
    color: black;
    transform: scale(1.1);
}




.searchicon {
    all: unset;
}



/* Drop down Menu CSS */

.hiddenburger {
    display: none;
    cursor: pointer;
    fill: #FFFFFF;
}


ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--headerbackroundcolor);
    padding: 0px;
    overflow: hidden;
    margin-top: 25px;
    right: 1px;
    z-index: 2;
    }

li {
    list-style: none;
    position: static;
    top: 200px;
    padding: 10px 20px 10px 20px;
    border: solid white;
}


li > a {
    all: unset;
    color:#FFFFFF;
    text-transform: capitalize;
    transition: 0.3s;
    text-align: center;
    font-size: 1.5rem;
    
}

li > a:hover {
    color:#FFFF00;
    transform: scale(1.2);
    
}


summary {
    list-style-type: none;
}

details summary::-webkit-details-marker {
    display: none;
}
