:root {
  --backroundimagetext: #ffffff;
  --sectioncontainer: #4b4b4b;
}

.landingpagebackround {
  width: 100%;
}

.backroundimage {
  width: 100%;
}

.categorycontainer {
  display: flex;
  flex-direction: column;
}

.categoryrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categorybox {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}

.stockphotos {
  width: 100%;
  max-width: 2000px;
}

.categorybox-text-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 300px;
  justify-content: space-evenly;
  
}

