
/*-------------------------------------   FIRST BREAKING POINT FOR CERTAIN DESIGN ADJUSTMENTS ------------------------------------- */


@media screen and (max-width: 850px) {

    /* Header CSS */
    /* Footer CSS */
    /* Default CSS */
    /* Index Page / Landing Page */
    /* Visit Us Page */
    /* Exhibitions Page */
    /* Get Involved Page */
    /* Terms and Agreements Page */
    /* Privacy Policy Page */
    
    
    
    
    
    
    
    
    
        
    }
















/*-------------------------------------   SECOND BREAKING POINT FOR PHONE AND MOBILE DEVICES ------------------------------------- */


@media screen and (max-width: 850px) {


/* Header CSS */


.desktopheader {
    padding: 20px;
    }

#sitelogo {
    cursor: pointer;
    transition: 0.3s;
    width: 20vw;
    min-width: 120px;
    }


.headerbuttons {
    display: none;
}

.hiddenburger {
    display: block;
    margin: 0px;
    box-sizing: content-box;
    padding: 0;
}



/* Footer CSS */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #272727;
    gap: 15px;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    }

    footer a {
        text-decoration: underline;
        box-sizing: border-box;
        font-size: 1rem;
        cursor: pointer;
        color: #FFFFFF;
        transition: 0.2s;
        margin: 0px;
        padding: 0px;
        text-align: center;
        }

.supportfooter {
    margin-top: 0px;
}

/* Default CSS */

.mainpagecontainer {
    gap: 80px;
    }

.backroundimage {
    width: 200vw;
    }


h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    color: var(--h2color);
    font-family: 'Grandstander';
    text-align: center;
    }

h2 {
color: var(--h2color);
font-weight: 400;
font-size: 2rem;
margin-top: 40px;
margin-bottom: 0px;
text-align: center;
}

h4 {
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 0px;
    }

h5 {
    text-align: center;
}

h6 {
    color: var(--h2color);
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 400;
    align-self: center;

}

.button {
    font-size: 1.5rem;
    padding: 15px 30px 15px 30px;
}


/* Index Page / Landing Page */

.categoryrow {
    flex-direction: column;
}

.categorybox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    }


.categorybox-text-container {
display: flex;
flex-direction: column;
padding: 20px;
height: fit-content;
justify-content: space-evenly;
}    

/* Visit Us Page */


.mainpagecontainer-visit {
    width: 80%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
    bottom: 100px;
    }

#location-map {
    width: 100%;
}

.openinghours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    margin-bottom: 50px;
    }


.openinghours-left {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0px;
    }




tr {
display: flex;
justify-content: space-between;
gap: 10vw;
}    

th {
    flex-wrap: nowrap;
    }    


.locationcontainer {
padding: 0px;
}    


#adresstext {
font-size: 1rem;
margin-top: 0;
text-align: center;
}    



.formcontainer-visitus {
display: flex;
flex-direction: column;
width: 100%;
}


form {
padding: 10px;
border-radius: 0px;
border: none;
}

.first-form-row {
display: flex;
flex-direction: column;
width: 100%;
}

.top-form-shortbox {
    width: 100%;
    }



/* Exhibitions Page */

#moonpicture {
    width: 200vw;
    overflow: hidden;
    overflow-x: auto;
    align-self: center;
}

.exhibition-row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.exhibition-row-images {
    height: 70vw;
}

.exhibition-subheader {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 0px; 
    margin-bottom: 20px;
    }

.exhibition-text-container {
    padding: 5px;
}

.special-events-row {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.special-events-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.special-events-images {
    width: 70vw;
}

/* Get Involved Page */

#museumsupport-text {
    font-size: 1rem;
    font-family: 'Poppins';
    text-align: center;
    margin-bottom: 0px;
    }

.contributions-box {
width: 100%;
display: flex;
flex-direction: column;
gap: 40px;
box-sizing: border-box;
}

.contributions-image {
    width: 100%;
    min-width: 10px; 
    max-width: none;
    }

.getinvolved-bottom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.text-bottom-involved {
    width: 100%;
    }

    .text-bottom-involved > p {
    margin-top: 50px;
    }

    #skeletonimage {
        width: 100%;
        position: static;
        max-width: 1200px;
        align-self: last baseline;
        left: 50vw;
        top: 2310px;
        z-index: -1;
        }

.contributions-box-text-container > h4 {
margin-top: 0px;
}


/* Terms and Agreements Page */
/* Privacy Policy Page */

.mainpagecontainer-documents {
    width: 90%;
    }


.document-container {
    width: 100%;
    }

.documents-header {
margin: 50px 0px 20px 0px;
}

.weakerline {
margin-bottom: 40px;
}
    
.documents-text-container {
background-color: rgba(84, 175, 255, 0.2);
line-height: 4;
padding: 20px;
}
    
}