
#visituselefant {
    height: 600px;
}

.openinghours {
    display: flex;
    justify-content: space-between;
}

.openinghours-right {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#location-map {
    border-radius: 50px;
}

.locationcontainer {
    display: flex;
    justify-content: space-between;
}

.locationcontainer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adresstext {
    font-size: 1.5rem;
}

#visitustext {
    align-self: flex-start;
}
