/* Had to use a different main page container here because of some tweaking I wanted to do specifically to this page */


.mainpagecontainer-visit {
    width: 50%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }


#visituselefant {
    height: 20%;
}

/* Used another version of box-o here from default as I wanted more padding specifically on this box */




.openinghours {
    display: flex;
    justify-content: space-between;
}

.openinghours-right {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#location-map {
    border-radius: 50px;
}

.locationcontainer {
    display: flex;
    justify-content: space-between;
}

.locationcontainer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adresstext {
    font-size: 1.5rem;
}

#visitustext {
    align-self: flex-start;
}


