:root {
  --backroundimagetext: #ffffff;
  --sectioncontainer: #4b4b4b;
}

.landingpagebackround {
  width: 100%;
}

.backroundimage {
  width: 100%;
}

.categorycontainer {
  display: flex;
  flex-direction: column;
}

.categoryrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categorybox {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}

.stockphotos {
  width: 100%;
  max-width: 2000px;
}

h5 {
  font-size: 1.2rem;
}

.categorybox-text-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 175, 255, 0.2);
  padding: 20px;
}

.categorybox-text-container-o {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 167, 84, 0.5);
  padding: 20px;
}

.categorybox-text-container-y {
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 255, 84, 0.5);
  padding: 20px;
}
