:root {
    --pagecolor: #303030;
    --backroundimagetext: #FFFFFF;
    --sectioncontainer: #4B4B4B;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingpagebackround {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("Images/stockphotos/whalemuseum2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.backroundimagetext {
    color: var(--backroundimagetext);
}

.mainpagecontainer {
    width: 70%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#exploretext {
    text-align: center;
    text-decoration: underline;
}

#exploretext2 {
    text-align: center;
}


#teacher-hidden {
    display: none;
}

.mainpageimage {
    max-height: 400px;
}

#whitesectionbottom {
    background-color: var(--backroundimagetext);
    padding: 60px;
}

h3 {
    font-size: 2rem;
}

#whitesectionbottom p {
    color: black;
}